<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/index.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap" rel="stylesheet">

    <title>Downtown Cupcakes</title>
</head>

<body>
    <nav id="navbar">
        <a href="./menu">Menu</a>
        <h1>Downtown Cupcakes</h1>
        <a href="./order">Cart</a>
    </nav>

    <section id="photo-reel">
        <img src="https://images.pexels.com/photos/6625256/pexels-photo-6625256.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chcocolater Monster, holiday edition">
        <img src="https://images.pexels.com/photos/1028714/pexels-photo-1028714.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="a cupcake">
        <img src="https://images.pexels.com/photos/10690387/pexels-photo-10690387.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="a cupcake">
    </section>
</body>

</html>