<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/index.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap" rel="stylesheet">

    
    <title>Cupcake</title>
</head>
<body>
    <nav id="navbar">
        <img src="https://cdn-icons-png.flaticon.com/512/3726/3726102.png" alt="cupcake">
        <a href="/">Home</a>
        <a href="/menu">Menu</a>
        <a href="/order">Cart</a>
    </nav>


    <div id="header">
        <p><a href="/menu"> < Back </a></p>
    </div>

    <section id="single_cupcake">
        <h1>{{cupcake['name']}}</h1>
        <h2>${{cupcake['price']}}</h2>
        <h3>{{cupcake['flavor']}}</h3>
        <h3>{{cupcake['frosting']}}</h3>
        <h3>{{cupcake['filling']}}</h3>
        
        <h3>Sprinkles:</h3>
        <ul>
            {% for sprinkle in sprinkles %}
            <li> - {{sprinkle}} </li>
            {% endfor %}
        </ul>
    </section>
    <button value="{{cupcake['name']}}">
        <a href="{{ url_for('add_cupcake', name=cupcake['name']) }}">Add</a>
    </button>
        
</body>
</html>