<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap" rel="stylesheet">

    <title>Cart</title>
</head>

<body>
    <nav id="navbar">
        <img src="https://cdn-icons-png.flaticon.com/512/3726/3726102.png" alt="cupcake">
        <a href="/">Home</a>
        <a href="/menu">Menu</a>
        <a href="/order">Cart</a>
    </nav>


    <div id="header">
        <p> Order </p>
    </div>
    <ul id="items-list">
        {% for cupcake in order %}
            <li>
                <div class="order-item">
                    <p> {{cupcake['name']}} </p> <p> {{cupcake['price']}} </p> 
                    <section id="quantity-sect">
                        <button><a href="{{ url_for('add_quantity', name=cupcake['name']) }}">↑</a></button>
                        <p> {{cupcake['quantity']}} </p> 
                        <button><a href="{{ url_for('minus_quantity', name=cupcake['name']) }}">↓</a></button>
                    </section>
                </div>
                <button>
                    <a href="{{ url_for('delete_cupcake', name=cupcake['name']) }}">X</a>
                </button>
            </li>
        {% endfor %}
    </ul>

    <div class="bot-header">
        <p>Total : {{total}}</p>
    </div>


</body>
</html>